# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.lock
*.h2
devDb.h2.db
*.db
devDb.trace.db
devDb.trace.db
devDb.trace.db
devDb.trace.db
*.class
*.groovy
target/work/plugins/asset-pipeline-2.2.3/META-INF/assets/asset-pipeline/test/absolute-path/full-tree/full_tree.js
*.log
target/work/plugins/asset-pipeline-2.2.3/application.properties
*.js
target/work/plugins/asset-pipeline-2.2.3/META-INF/assets/asset-pipeline/test/test2.css
*.javascript
target/work/plugins/asset-pipeline-2.2.3/META-INF/assets/grails_logo.png
*.xml
target/work/plugins/asset-pipeline-2.2.3/src/docs/guide/extending.gdoc
*.gdoc
target/work/plugins/cache-1.1.8/src/java/grails/plugin/cache/Cacheable.java
*.java
*.gsp
target/work/plugins/database-migration-1.4.0/LICENSE.txt
*.template
target/work/plugins/hibernate4-4.3.10/application.properties
*.properties
*.css
*.yml
target/work/plugins/hibernate4-4.3.10/LICENSE
target/work/plugins/asset-pipeline-2.2.3/LICENSE
*.txt
target/work/plugins/jquery-1.11.1/web-app/js/jquery/jquery-1.11.1.min.map
*.jar
target/work/plugins/tomcat-7.0.55.3/LICENSE
*.tmp
