@font-face {
    font-family: "Urban";
    src: url(C:\Users\Lucas\Documents\GitHub\damonAplicacion\grails-app\assets\font\UrbanJungle.otf) format("opentype");
}

tr{
	border-style: solid;
	border-width: 2px;
	border-color: #104050;
}

td{
	border-style: solid;
	border-width: 2px;
	border-color: #104050;
}

header{
	
	margin:0;
	padding: 0;

}

.container{
	background-color: #5A74A8;
	margin:0px;
	padding: 0;
	width: 100% 
}
.table{
	margin-bottom: 0px;
}

h1{
	margin-top: 0.25em;	
	padding-top: 0;
	color:#B5B5B5;
	background-color: #5A74A8;

}

.panel{
	margin-top: 2.5em;
}

.right{
	float: right;
	padding: 0.5em;
}

.left{
	float:left;
}


h2{
	font-family: "Urban";
	padding: 0.5em;
	margin: 0;
	background-color: #5A74A8; 
}

.col-md-3{
	padding-right: 3em;
}

.col-md-9{
	padding-left: 5em;
}
